<form [formGroup]="form">
<div class="formulario">

    <div class="nombre">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
        </mat-form-field>
    </div>
    <div class="constrasena">
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contrasena">
        </mat-form-field>
    </div>
</div>
</form>
<button (click)="navegar()">Aceptar</button>