<form [formGroup]="form">
<div class="formulario">

    <div class="nombre">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
        </mat-form-field>
    </div>
    <div class="apellido">
        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido">
        </mat-form-field>
    </div>
    <div class="correo">
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput type="text" formControlName="correo">
        </mat-form-field>
    </div>
    <div class="documento">
        <mat-form-field>
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="documento">
                <mat-option value="dni">dni</mat-option>
                <mat-option value="lc">LC</mat-option>
                <mat-option value="le">LE</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dni">
        <mat-form-field>
            <mat-label>Numero de documento</mat-label>
            <input matInput type="number" formControlName="numero_documento">
        </mat-form-field>
    </div>


</div>
</form>
<button (click)="navegar()">Aceptar</button>