.formulario {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  mat-form-field {
    padding-top: 100px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%; 
    max-width: 300px;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #1565c0;
  }
  