<!-- <table>
    <thead>
        <tr>
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
    </thead>
        <tbody>
        <tr>
            <td>08:00 - 09:00</td>
            <td>----</td>
            <td>Clase</td>
            <td>----</td>
            <td>----</td>
            <td>Clase</td>
        </tr>
        <tr>
            <td>09:00 - 10:00</td>
            <td>----</td>
            <td>----</td>
            <td>Clase</td>
            <td>Clase</td>
            <td>----</td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
            <td>Clase</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td>----</td>
            <td>Clase</td>
            <td>----</td>
            <td>----</td>
            <td>Clase</td>
        </tr>
        <tr>
            <td>12:00 - 13:00</td>
            <td>----</td>
            <td>----</td>
            <td>Clase</td>
            <td>----</td>
            <td>----</td>
        </tr>
    </tbody>
</table> -->