body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
ul{
    width: 100%;
    height: 250px;
}



aside{
    padding-top: 60px;
    float: left;
    width: 15%;
}   

table{
    width: 75%;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
}

footer{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: 100%;
}